@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root{
    --neon-btn-one: #ffcc33;
    --neon-btn-two: #2196f3;
    --background-black: #000814;
    --background-blue: #021222;
    --modal-background: #424651;
}

*{
    outline: none !important;
    border: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background: var(--background-black);
    scrollbar-width: none;
    /* -ms-overflow-style: none;
    overflow-x: hidden; */
}

body::-webkit-scrollbar{
    display: none;
}

nav{
    background: var(--background-black);
}

/* header{
    background-size: cover;
} */

.logo{
    max-width: 150px;
    height: auto;
}

.topic{
    letter-spacing: 1rem;
}

/* neon buttons */

.neon-button,
.neon-button-two{
    border: 2px var(--neon-btn-one) solid;
    box-shadow: inset 0 0 0.5em 0 var(--neon-btn-one), 0 0 0.5em 0 var(--neon-btn-one);
    position: relative;
    z-index: 2;
}
.neon-button-two{
    width: 400px;
}

.neon-button::before,
.neon-button-two:hover:before{
    content: "";
    position: absolute;
    background: var(--neon-btn-one);
    top: 110%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(2.5em) rotateX(40deg) scale(1, 0.35);
    filter: blur(2em);
}

/* neon button with border animation */

.neon-button-three{
    position: relative;
    overflow: hidden;
    color: var(--neon-btn-one);
    width: 400px;
    transition: .5s;
    /* transition-delay: 1s; */
    /* border: 2px var(--neon-btn-one) solid; */
}
.neon-button-three:hover{
    border: none;
    color: var(--background-black);
    background: var(--neon-btn-one);
    box-shadow: 0 0 10px var(--neon-btn-one), 0 0 20px var(--neon-btn-one), 0 0 40px var(--neon-btn-one);
}
.neon-button-three span{
    position: absolute;
    display: block;
}
/* top border */
.neon-button-three span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--neon-btn-one));
    animation: animate1 2s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%, 100%{
        left: 100%;
    }
}

/* bottom border */
.neon-button-three span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--neon-btn-one));
    animation: animate3 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%, 100%{
        right: 100%;
    }
}
/* .neon-button-three:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
} */

/* right border */
.neon-button-three span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--neon-btn-one));
    animation: animate2 2s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%, 100%{
        top: 100%;
    }
}
/* .neon-button-three:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
} */

/* left border */
.neon-button-three span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--neon-btn-one));
    animation: animate4 2s linear infinite;
    animation-delay: 1.5s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%, 100%{
        bottom: 100%;
    }
}
/* .neon-button-three:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
} */

#about,
#timeline{
    background-color: var(--background-blue);
}


/* timeline */

.circle {
    padding: 13px 20px;
    border-radius: 50%;
    background-color: #ffd60a;
    max-height: 50px;
    z-index: 2;
}

.how-it-works.row .col-2 {
    align-self: stretch;
}
.how-it-works.row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
}
.how-it-works.row .col-2.full::after {
    height: 100%;
    left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
}

.timeline div {
    padding: 0;
    height: 40px;
}
.timeline hr {
    border-top: 3px solid var(--neon-btn-one);
    margin: 0;
    top: 17px;
    position: relative;
}
.timeline .col-2 {
    display: flex;
    overflow: hidden;
}
.timeline .corner {
    border: 3px solid var(--neon-btn-one);
    width: 100%;
    position: relative;
    border-radius: 15px;
}
.timeline .top-right {
    left: 50%;
    top: -50%;
}
.timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
}
.timeline .top-left {
    left: -50%;
    top: -50%;
}
.timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
}

#timeline h5{
	color: #50B748;
}
#timeline p{
	color: #00B4EB;
}

/* register */
.clock-display span{
	color: #50B748;
}


/* portfolio */

.row.popup-gallery .image{
    height: 100%;
    width: 100%;
    background-blend-mode: screen;
    filter: contrast(1.3);
}

.carousel-item img{
	max-width: 50%;
	max-height: 80%;
}

/* organized by */
#organizedby{
    background: var(--background-blue);
}

/* contact section */
.profile-img{
    width: 110px;
    height: 120px;
}
.tel,
.email,
.facebook-link{
    text-decoration: none;
    color: #999;
    transition: .4s;
}
.tel:hover,
.email:hover,
.facebook-link:hover{
    color: var(--neon-btn-one);
}

/* .contact-submit{
	transform: translateX(250px);
} */

/* fixed background in challenge section and challenge details section */

.fixed-background {
    position: relative;
    width: 100%;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999 !important;
}

.fixed {
    z-index: -1;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    opacity: 0.6;
}

.container.challenge-details{
    opacity: 1;
}

#organizedby a{
    text-decoration: none;
    color: #ffd60a;
}
#organizedby a:hover{
    text-decoration: underline;
}

/* social media icons */

.icons a{
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem;
    background: #4267B24d;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: .4s ease-in;
}

.icons a:hover{
    border-radius: 50%;
}

.icons .fa-facebook-f{
    color: #4267B2;
}
.icons .fa-whatsapp{
    color: #25944e;
}
.icons .fa-envelope{
    color: #BB001B;
}


@media only screen and (max-width: 1000px){
    .neon-button-two:hover:before{
        display: none;
    }
}

@media only screen and (max-width: 622px){
    .neon-button-two,
    .neon-button-three{
        width: 270px;
    }
}

@media only screen and (max-width: 580px){
    .topic{
        letter-spacing: .5rem;
    }
}

@media only screen and (max-width: 460px){
    .topic{
        letter-spacing: .3rem;
    }
}

@media only screen and (max-width: 410px){
    .topic{
        letter-spacing: 0rem;
        font-size: 1.8rem;
    }
    .blockquote p{
        font-size: .9rem;
    }
    .neon-button-two,
    .neon-button-three{
        width: 230px;
        font-size: .8rem;
    }
}

/* scrolling */

::-webkit-scrollbar{
    display: none;
    scroll-behavior: smooth;
}

.scroll-margin{
    scroll-margin-top: 9em;
}

